# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.-non-tower-ar-unity.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Senya\OneDrive\Документы\GitHub\-non-tower-ar-unity\.idea\.idea.-non-tower-ar-unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
